<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.capture.myapplication1224_1">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="true" />

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mercury_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication1224_1">
        <activity android:name=".ResultActivity"
            android:label="MOVING AVERAGING PIXEL DATA "
            android:theme="@style/Theme.AppCompat.Dialog.Alert"></activity>
        <activity android:name=".SensingActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="  MERCURY SENSING "/>
        <activity
            android:name=".DataActivity"
            android:label="MOVING AVERAGING DATA "
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="  SPECTROMETER "
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>